################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CountryAPI.Tests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/CountryAPI.Tests/bin/Debug/net7.0/pt-BR
/CountryAPI/bin/Debug/net7.0/Castle.Core.dll
/CountryAPI/.vs/CountryAPI/FileContentIndex/2bb3d858-72c5-40f2-9f9a-a6a47fd6db01.vsidx
/CountryAPI/.vs/CountryAPI/FileContentIndex/56cc0680-53b6-4699-9292-52d3f3f75b7f.vsidx
/CountryAPI/.vs/CountryAPI/FileContentIndex/5adc1f8f-686e-45a1-91c8-9b05639ecc2b.vsidx
/CountryAPI/.vs/CountryAPI/FileContentIndex/7af9ae70-258a-402e-82e8-62d12df309d9.vsidx
/CountryAPI/.vs/CountryAPI/FileContentIndex/8f4bf9a2-afaa-4915-a204-9f3dac8cc78f.vsidx
/CountryAPI/.vs/CountryAPI/FileContentIndex/911b9be4-9289-4740-a3fe-a6f14662d333.vsidx
/CountryAPI/.vs/CountryAPI/FileContentIndex/99ef4bd9-aa55-44dd-b733-bc6c791f25c2.vsidx
/CountryAPI/.vs/CountryAPI/FileContentIndex/fdc981bb-3169-4cb2-82e1-995c4b867ea6.vsidx
/CountryAPI.Tests/bin/Debug/net7.0
/CountryAPI.Tests/obj
/CountryAPI/obj/Debug/net7.0/CountryAPI.dll
/CountryAPI/obj/Debug/net7.0/CountryAPI.assets.cache
/CountryAPI/obj/Debug/net7.0/refint/CountryAPI.dll
/CountryAPI/obj/Debug/net7.0/CountryAPI.csproj.AssemblyReference.cache
/CountryAPI/obj/Debug/net7.0/CountryAPI.csproj.CoreCompileInputs.cache
/CountryAPI/obj/Debug/net7.0/CountryAPI.csproj.FileListAbsolute.txt
/CountryAPI/obj/Debug/net7.0/CountryAPI.pdb
/CountryAPI/obj/Debug/net7.0/ref/CountryAPI.dll
/CountryAPI/obj/project.nuget.cache
/CountryAPI/obj/project.assets.json
/CountryAPI/obj/CountryAPI.csproj.nuget.dgspec.json
/CountryAPI/.vs/CountryAPI/v17/.suo
/CountryAPI/.vs/CountryAPI/v17/TestStore/0/testlog.manifest
/CountryAPI/.vs/CountryAPI/v17/TestStore/0/000.testlog
/CountryAPI/bin/Debug/net7.0/CountryAPI.deps.json
/CountryAPI/bin/Debug/net7.0/CountryAPI.dll
/CountryAPI/bin/Debug/net7.0/CountryAPI.pdb
/CountryAPI/bin/Debug/net7.0/Moq.Contrib.HttpClient.dll
/CountryAPI/bin/Debug/net7.0/Moq.dll
